.idea
allure_results
__pycache__/
        page_objects/__pycache__/
        page_objects/checkout_page_pack/__pycache__/
        page_objects/main_page_pack/__pycache__/
        page_objects/product_page_pack/__pycache__/
        tests/__pycache__/
        tests/ui_tests/__pycache__/
        utilities/__pycache__/
        utilities/ui_utilities/__pycache__/
